<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<title>TaskManager</title>
</head>
<body>
	<h1>Add new tag</h1>
	
	<div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Descrizione</th>
					<th>Add</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="tag : ${tags}">
					<td th:text="${tag.nome}"></td>
					<td th:text="${tag.descrizione}"></td>
					<td>
						<form method="POST"
							th:action="@{/projects/{projectId}/tasks/{taskId}/tags/{tagId}/edit(projectId=${projectId}, taskId=${task.id}, tagId=${tag.id})}">
							<button type="submit" name="submit" value="value">ADD</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>