<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<title>TaskManager</title>
</head>
<body>
	<h1 th:text="${title}">...</h1>
	<div>
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="project : ${projectList}">
					<td><a th:href="'/projects/' + ${project.id}" th:text="${project.nome}">...</a></td>
					<td th:text="${project.descrizione}">...</td>
				</tr>
			</tbody>

		</table>
	</div>
</body>
</html>