<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<title>TaskManager</title>
</head>
<body>
	<h1 th:text="${title}">...</h1>
	<div>
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Update</th>
					<th th:if="${title} == 'My Projects'">Delete</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="project : ${projectList}">
					<td><a th:href="'/projects/' + ${project.id}"
						th:text="${project.nome}">...</a></td>
					<td th:text="${project.descrizione}">...</td>
					<td>
						<form method="GET" th:if="${project.proprietario.id}==${loggedUser.id}"
							th:action="'/projects/' + ${project.id} + '/update'">
							<button type="submit" name="submit" value="value">UPDATE</button>
						</form>
					</td>
					<td>
						<form method="POST" th:if="${project.proprietario.id}==${loggedUser.id}"
							th:action="'/projects/' + ${project.id} + '/delete'">
							<button type="submit" name="submit" value="value">DELETE</button>
						</form>
					</td>
				</tr>
			</tbody>

		</table>
	</div>
	
	<div>
		<a href="/home">Torna indietro</a>
	</div>
</body>
</html>