<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>TaskManager</title>
</head>
<body>
	<h1 th:text="${project.nome}"></h1>

	<h4 th:text="${project.descrizione}" th:style="'color:grey'"></h4>

	<div>
		<h3>Tags</h3>
		<ul>
			<li th:each="tag : ${project.tags}">
				<div th:text="${tag.nome} + ' | ' + ${tag.descrizione}"
					th:style="'color:' + ${tag.colore}"></div>
			</li>
		</ul>
		<a th:if="${project.proprietario.id}==${loggedUser.id}"
			th:href="'/projects/' + ${projectId} + '/tags/add'">Add tag</a>
	</div>

	<div>
		<h3>Owner:</h3>
		<h4
			th:text="${project.proprietario.nome} + ' ' + ${project.proprietario.cognome}"></h4>
	</div>
	<div th:if="${members.size() > 0}">
		<h3>Shared with:</h3>
		<ul>
			<li th:each="member : ${members}">
				<div th:text="${member.nome} + ' ' + ${member.cognome}"></div>
			</li>
		</ul>

	</div>

	<div>
		<a th:if="${loggedUser.id} == ${project.proprietario.id}"
			th:href="'/projects/' + ${project.id} + '/share'">Share</a>
	</div>

	<h3>Tasks</h3>

	<table>
		<thead>
			<tr>
				<th>Status</th>
				<th>Nome</th>
				<th>Descrizione</th>
				<th>Utente</th>
				<th>Tags</th>
				<th>Set Completed</th>
				<th>Edit</th>
				<th>Edit tags</th>
				<th>Share</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="task : ${project.tasks}">
				<td>
					<p th:if="${task.completed}" th:style="'color:green'">&#10003;</p>
					<p th:if="${!task.completed}" th:style="'color:red'">X</p>
				</td>

				<td th:text="${task.nome}"></td>
				<td th:text="${task.descrizione}"></td>
				<td th:text="${task.user.nome} + ' ' +${task.user.cognome}">...</td>
				<td>
					<ul>
						<li th:each="tag : ${task.tags}">
							<div th:text="${tag.nome} + ' | ' + ${tag.descrizione}"
								th:style="'color:' + ${tag.colore}"></div>
						</li>
					</ul>
				</td>
				<td>
					<form method="POST"
						th:if="(${loggedUser.id} == ${task.user.id}) and ${!task.completed}"
						th:action="'/projects/' + ${project.id} + '/tasks/' + ${task.id} + '/complete'">
						<button type="submit" name="submit" value="value">COMPLETE</button>
					</form>
				</td>
				<td>
					<form method="GET" th:if="${loggedUser.id} == ${task.user.id}"
						th:action="'/projects/' + ${project.id} + '/tasks/' + ${task.id} + '/edit'">
						<button type="submit" name="submit" value="value">EDIT</button>
					</form>
				</td>
				<td>
					<form method="GET" th:if="${loggedUser.id} == ${task.user.id}"
						th:action="'/projects/' + ${project.id} + '/tasks/' + ${task.id} + '/tags/edit'">
						<button type="submit" name="submit" value="value">EDIT TAGS</button>
					</form>
				</td>
				<td>
					<form method="GET" th:if="${loggedUser.id} == ${task.user.id}"
						th:action="'/projects/' + ${project.id} + '/tasks/' + ${task.id} + '/share'">
						<button type="submit" name="submit" value="value">SHARE</button>
					</form>
				</td>
				<td>
					<form method="POST" th:if="${loggedUser.id} == ${task.user.id}"
						th:action="'/projects/' + ${project.id} + '/tasks/' + ${task.id} + '/delete'">
						<button type="submit" name="submit" value="value">DELETE</button>
					</form>
				</td>
			</tr>


		</tbody>
	</table>

	<a th:href="'/projects/' + ${project.id} + '/tasks/add'">Add task</a>

	<br />
	<div>
		<a th:if="${loggedUser.id} == ${project.proprietario.id}"
			href="/projects">Torna ai tuoi progetti</a> <a
			th:if="${loggedUser.id} != ${project.proprietario.id}"
			href="/projects/shared">Torna ai progetti condivisi con te</a>
	</div>

</body>
</html>