<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>TaskManager</title>
</head>
<body>
	<h1>All Users</h1>

	<div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Username</th>
					<th>Nome</th>
					<th>Cognome</th>
					<th>Share</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="credentials : ${credentialsList}">
					<td th:text="${credentials.username}"></td>
					<td th:text="${credentials.user.nome}"></td>
					<td th:text="${credentials.user.cognome}"></td>
					<td>
						<form method="POST"
							th:action="@{/projects/{projectId}/share/{credentialsId}(projectId=${projectId}, credentialsId=${credentials.id})}">
							<button type="submit" name="submit" value="value">SHARE</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>